@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.todo-container{
    display: flex;
    flex-direction: column;
    
    font-family: 'Poppins', sans-serif;
}
.title{
    color: black;
}
