@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main-div{
    padding-top: 1rem;
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}
.sub-main-div{
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.image-container{
    text-align: center;
}
.image{
    fill:white;
    font-size: 5rem;
    

}
/*Main container*/
.todo-container{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}
.search{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 25px;
    
}
.search:focus{
    border: none;
    outline: none;


}
::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}
input {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
.add-button-todo{
    font-size: 24px;
    transition: 0.5s ease-in;
}
.add-button-todo:hover{
    cursor: pointer;
    fill: greenyellow;
    transition: 0.5s ease-in;
    font-size: 24px;
}
.show-items{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.each-item{
    padding: 1rem;
    width: 400px;
    max-width:400px;
    max-height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
    text-align: center;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
 
    

}
.checked{
    fill: rgb(149, 255, 149);
    text-decoration: line-through;
    opacity: 20%;
}
.unchecked{
    fill: rgb(255, 255, 255);
}
.true{
    text-decoration: line-through;
    font-size: 40px;
}
h4{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    
}
/*Notes Css**/
.note-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: auto;
    font-family: 'Poppins', sans-serif;
}
.logo-note{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}
.note-logo{
    display: flex;
    font-size: 4rem;
    justify-content: center;
}
.sub-title-note{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.note-sub-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.note{
    display: flex;
    flex-direction: column;
    background-color: rgba(153, 165, 175, 0);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: 0.5s ease-in;
    padding: 1rem;
    max-width: 400px;
    max-height: 210px;
    width: 400px;
    height: 200px;
    text-wrap: wrap;
    overflow: hidden;
}
.note-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.note-footer-label{
    width: 100%;
    text-align: center;
    font-style: oblique;
    padding-top: 1rem;
}
textarea{
    color: white;
    resize: none;
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    overflow-y: hidden;
    border-radius: 10px;
    
    background-color: transparent;
    
}
.note:hover{
    box-shadow: 4px 2px 5px rgba(128, 240, 128, 0.555);
    transition: 0.5s ease-in;
}
.button-container{
    margin: 0 auto;
    
}
.note-save{
    
    width: 50px;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 0.3s ease-in;
    font-family: 'Poppins', sans-serif;
}
.note-save:hover{
    background-color: rgb(128, 240, 128);
    transition: 0.3s ease-in;
}
.note-sub-container-data{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.saved-notes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.textarea{
    display: flex;
    justify-content: center;
    text-align: center;
    
    text-wrap: wrap;
    
}